.pagination {
    display: flex;
    margin: 30px auto;
    padding-Top: 70px;
    list-style: none;
    justify-content: center;
  }
  
  .pagination a {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #0f1011;
    color: #060607;
  }
  
  .pagination--disabled a:hover {
    cursor: not-allowed;
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
  }